.main-container {
    padding: 70px 50px;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

button { 
    margin-top: 20px;
    margin-right:10px;
    padding: 10px 20px;
    background-color: #0e1f3b;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 400;
  }
  
  button:hover {
    background-color: #283e61;
  }