<h1>QA Automation Portal</h1>
<section id="anonymization">
  <h2>All Projects</h2>
  <div class="projects-container">
    <div class="project-card" *ngFor="let project of projects" (click)="navigateToProject(project.name, project.id)">
      <img src="assets/icons/folder.png" alt="Project Folder">
      <p>{{ project.name }}</p>
    </div>
  </div>
  <button (click)="openModal()">Create New Project</button>
</section>

<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Create New Project</h2>
    <input type="text" [(ngModel)]="newProjectName" placeholder="Enter project name">
    <button (click)="createProject()">Submit</button>
  </div>
</div>
