<div>
    <h1>{{ breadcrumb.projectName }} Mandatory Tests</h1>
  
    <p> Upload existing mandatory tests for this module, or create new ones for the basic test steps.</p>
  
    <h2>Mandatory Test Cases</h2>
  
    <!-- File Upload -->
    <div>
      <label for="file-upload">Upload a file:</label>
      <input
        id="file-upload"
        type="file"
        (change)="onFileChange($event)"
        accept=".docx, .xlsx"
      />
      <button (click)="onSubmit($event)" [disabled]="!file || isProcessing">
        Generate Test Cases
      </button>
    </div>
  
    <!-- Loading Spinner -->
    <div *ngIf="isProcessing">
      <p>Processing... Please wait.</p>
    </div>
  
    <!-- Test Cases Table -->
    <div *ngIf="testCases.length > 0">
      <table>
        <thead>
          <tr>
            <th>Test Case ID</th>
            <th>Test Case Name</th>
            <th>Test Case Type</th>
            <th>Pre-Condition</th>
            <th>Actor(s)</th>
            <th>Test Data</th>
            <th>Step Description</th>
            <th>Expected Result</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let testCase of editedTestCases; let i = index">
            <td>
              <textarea [(ngModel)]="editedTestCases[i]['Test_Case_ID']"></textarea>
            </td>
            <td>
              <textarea [(ngModel)]="editedTestCases[i]['Test_Case_Name']"></textarea>
            </td>
            <td>
              <textarea [(ngModel)]="editedTestCases[i]['Test_Case_Type']"></textarea>
            </td>
            <td>
              <textarea [(ngModel)]="editedTestCases[i]['Pre_Condition']"></textarea>
            </td>
            <td>
              <textarea [(ngModel)]="editedTestCases[i]['Actor_s']"></textarea>
            </td>
            <td>
              <textarea [(ngModel)]="editedTestCases[i]['Test_Data']"></textarea>
            </td>
            <td>
              <textarea [(ngModel)]="editedTestCases[i]['Step_Description']"></textarea>
            </td>
            <td>
              <textarea [(ngModel)]="editedTestCases[i]['Expected_Result']"></textarea>
            </td>
            <td>
              <button (click)="deleteRow(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- Add Row Button -->
      <button (click)="addRow()">Add Row</button>
  
      <!-- Download Button -->
      <button (click)="onDownload()" [disabled]="isProcessing">
        Save
      </button>
  
      <!-- Download Button -->
      <button (click)="onDownload()" [disabled]="isProcessing">
        Download Excel
      </button>
      
      <!-- Redirect to test setup -->
      <button *ngIf="projectId" (click)="navigateToSetup(projectId)" [disabled]="!projectId">
        Setup Test Automation
      </button>
    </div>
  </div>