.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #0e1f3b;
    padding: 5px 10px;
    position: fixed; /* Fixes the navbar to the top */
    top: 0; /* Aligns it to the top */
    left: 0;
    width: 100%; /* Ensures it spans the entire width */
    z-index: 1000; /* Keeps it above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .app-name {
    font-size: 17px;
    font-weight: 600;
  }
  
  .breadcrumb {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
    margin-left: 25px;
    color: #3c4758;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between elements */
  }
  
  /* Search Bar Container */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 5px 5px 5px 30px; /* Adds left padding for icon space */
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Search Icon Inside Input */
.search-icon {
  position: absolute;
  left: 8px;
  width: 18px;
  height: 18px;
  color: #888;
}

/* Standalone Icon */
.standalone-icon {
  width: 24px;
  height: 24px;
  color: #0e1f3b;
  cursor: pointer;
}
