/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f3f6fb;
}

.main-container {
  padding: 80px 50px;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

button {
    margin-top: 20px;
    margin-right:10px;
    padding: 10px 20px;
    background-color: #0e1f3b;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 400;
  }
  
  button:hover {
    background-color: #283e61;
  }

  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .project-card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.2s;
    gap: 20px;
    background-color: #fff;
  }

  .project-card img {
    width: 60px;
    height: 60px;
  }

  .project-card p label {
    margin-top: 10px;
    font-weight: bold;
  }

  .project-card ul {
    display: flex;
    flex-direction: column; /* Stacks label and ul vertically */
}

  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .menu-container button {
    margin-top: 0;
    margin-right:10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #0e1f3b;
    border: none;
    cursor: pointer;
    font-weight: 400;
  }

  .menu-container button:hover {
    color: #283e61;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .table-container {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: auto;
    display: block;
  }
  
  .test-case-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap; /* Ensures headers stay in a single row */
  }
  
  .test-case-table th, .test-case-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  .test-case-table th {
    background-color: #fbfbfb;
  }
  
  .test-case-table textarea {
    width: 100%; /* Ensures textareas don't break layout */
    min-height: 40px;
    resize: vertical; /* Allows only vertical resizing */
    overflow: hidden;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  .snackbar-success {
    background-color: #4caf50;
    color: white;
  }
  
  .snackbar-error {
    background-color: #f44336;
    color: white;
  }
  
  
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.preview {
  margin-top: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
