/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f3f6fb;
}

.main-container {
  padding: 70px 50px;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
    margin-top: 20px;
    margin-right:10px;
    padding: 10px 20px;
    background-color: #0e1f3b;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 400;
  }
  
  button:hover {
    background-color: #283e61;
  }

  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .table-container {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    display: block;
  }
  
  .test-case-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap; /* Ensures headers stay in a single row */
  }
  
  .test-case-table th, .test-case-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  .test-case-table th {
    background-color: #f4f4f4;
  }
  
  .test-case-table textarea {
    width: 100%; /* Ensures textareas don't break layout */
    min-height: 40px;
    resize: vertical; /* Allows only vertical resizing */
    overflow: hidden;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  .snackbar-success {
    background-color: #4caf50;
    color: white;
  }
  
  .snackbar-error {
    background-color: #f44336;
    color: white;
  }
  
  
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
